* {
    margin: 0;
    padding: 0;
    background-color: #171717;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: rgb(255, 255, 255) solid 3px;
    padding: 40px;
}

.canvas .title {
    text-align: center;
    color: white;
}